.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; 
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff; 
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-form h1 {
  margin-bottom: 30px;
  font-size: 28px;
}

.login-input {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 18px;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}

.submit-button {
  padding: 12px 24px;
  background-color: var(--green);
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-button:hover {
  background-color: #388e3c;
  transform: translateY(-2px);
}

.employee_login{
  color: var(--green);
}