.main{
    height: 100vh;
    background-color: var(--green);
    display: flex;
    justify-content: center;
}

.main_content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1{
    padding-right: 60px;
}

.section1_headline{
    font-size: 23px;
    font-weight: 500;
    color: var(--white);
    padding-left: 3px;
    padding-bottom: 10px;
}

.section1_headline2{
    font-size: 48px;
    font-weight: 600;
    color: var(--text);
    padding-bottom: 10px
    ;
}

.section1_headline3{
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    padding-left: 3px;
}